:root {
  --gray-50: #ffffff;
  --gray-200: #bdbdbd;
  --purple-900: #1f0d22;
  --purple-600: #641e6f;
  --yellow-50: #fecd23;
  --blue-50: #3e5fef;
  --blue-500: #1d3083;
  --shadow: 0 0.625rem 0.625rem 0.0625rem #0008;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--gray-50);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
  background: linear-gradient(var(--purple-900), var(--purple-600));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}

header {
  margin: 1.25rem 0;
}

h1 {
  color: var(--yellow-50);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

p {
  margin: 0.625rem 0;
  line-height: 1.75rem;
}

main {
  background: linear-gradient(to top, var(--purple-900), var(--purple-600));
  border-radius: 0.625rem;
  box-shadow: var(--shadow);
  padding: 1.25rem;
  margin: 2.5rem 0;
}

main strong {
  font-size: 1.5rem;
  font-weight: 400;
}

main form {
  margin: 2.5rem;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
}

main form input {
  height: 3.125rem;
  background-color: var(--purple-900);
  padding: 0 1.25rem;
  font-size: 1rem;
  border-radius: 0.625rem;
  border: transparent;
}

main form input::placeholder {
  color: var(--gray-200);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-evenly;
  align-items: center;
}

.cards .card {
  padding: 1.25rem 0.625rem;
  display: flex;
  flex-direction: column;
  background-color: var(--blue-50);
  border: 0.25rem solid var(--blue-500);
  border-radius: 0.625rem;
  box-shadow: var(--shadow);
}

.cards .card span {
  font-size: 1.25rem;
  font-weight: 500;
}

.cards .card button {
  background-color: var(--purple-900);
  border: transparent;
  height: 3.125rem;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

footer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
}

/* html {
  x: 93,75%; -> 15px
  x: 87,5% -> 14px
} */

@media screen and (max-width: 768px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}
